
<create-customer></create-customer>

<!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
<nav>
     <label class="btn btn-secondary active">
    <a routerLink="Add"  role="button" routerLinkActive="active">Add Account</a></label>
    <label class="btn btn-secondary">
    <a routerLink="Find"  role="button" routerLinkActive="active">Find Account</a></label>
    <label class="btn btn-secondary">
    <a routerLink="View"  role="button" routerLinkActive="active">View Accounts</a></label>
    <label class="btn btn-secondary">
    <a routerLink="Transfer" role="button" routerLinkActive="active">Transfer Money</a></label>
    <label class="btn btn-secondary">
    <a routerLink="Withraw"  role="button" routerLinkActive="active">Withdraw Money</a></label>
    <label class="btn btn-secondary">
    <a routerLink="Deposit"  role="button" routerLinkActive="active">Deposit Money</a></label>
  </nav>
</div>
<router-outlet></router-outlet> -->

  
<!-- 
<div style="background-color: black; color: white" >
<nav>
  <div class="row">
    <div class="col-lg-1">
        <h1 style="color: red " > Wallet </h1>
    </div>
    <div class="col-lg-11" style="margin-top: 10px;">
      
            <a routerLink="Add" class="btn btn-danger active" role="button" routerLinkActive="active" style="margin-left: 20px;">Add Account</a>
            <a routerLink="Find" class="btn btn-danger active" role="button" routerLinkActive="active"style="margin-left: 20px;">Find Account</a>
            <a routerLink="View" class="btn btn-danger active" role="button" routerLinkActive="active" style="margin-left: 20px;">View Accounts</a>
            <a routerLink="Transfer" class="btn btn-danger active" role="button" routerLinkActive="active" style="margin-left: 20px;">Transfer Money</a>
            <a routerLink="Withraw" class="btn btn-danger active" role="button" routerLinkActive="active" style="margin-left: 20px;">Withdraw Money</a>
            <a routerLink="Deposit" class="btn btn-danger active" role="button" routerLinkActive="active" style="margin-left: 20px;">Deposit Money</a>
    
    </div>
  </div>
  </nav>
  </div>
  <router-outlet></router-outlet> -->
